.about-grid {
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 20vh 80vh;
}

.brand-section {
    font-size: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0vh 2vw 2vh 10vw;
}

.headshot {
    border-radius: 5px;
    margin-top: 5vh;
    max-width: 100%;
}

.professional-role {
    color: var(--colorTwo);
}

.professional-summary {
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 0vh 10vw 2vh 2vw;
}

.skills {
    margin-bottom: 5px;
}

@media (max-width: 1130px) {
    .brand-section {
        font-size: 1.2rem;
    }
}