.contact-form-heading {
    color: #E09789;
    font-size: 1.8rem;
    padding: 20px;
}

.form-element {
    margin: 10px 0px 10px 0px;
    width: 100%;
    font-size: 1.3rem;
    background-color: #C8DBD7;
    color: #3C5556;
    border-color: #3C5556;
    box-sizing: border-box;
}

.form-element:focus {
    outline: none;
    border-color: #C8DBD7 !important;
}

.message {
    height: 100px;
}

.send-button {
    background-color: #3C5556 !important;
    color: #F6EFE7 !important;
}

.send-button:hover {
    background-color: #C8DBD7 !important;
    color: #3C5556 !important;
    border-color: #3C5556;
}

.confirmation {
    border-style: none;
    width: auto;
}