.contact-form {
    font-size: 1.3rem;
}

.name {
    background-color: #C8DBD7;
    color: #3C5556;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.email {
    background-color: #C8DBD7;
    color: #3C5556;
    width: 100%;
}

.message {
    background-color: #C8DBD7;
    color: #3C5556;
    width: 100%;
}

.send-button {
    width: 100%;
    background-color: #3C5556;
    color: #F6EFE7;
    border-radius: 10px;
}

.form-element {
    margin: 10px 0px 10px 0px;
}