*/ Brand colors for consistency */
:root {
    --color-one: #F5D4C3;
    --color-two: #E09789;
    --color-three: #E9F1EF;
    --color-four: #C8DBD7;
    --color-five: #F6EFE7;
    --color-six: #3C5556;
}

* {
    padding: 10px;
    border-radius: 10px;
    height: auto;
    width: auto;
    justify-content: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.contact-form-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.contact-links-container {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 22rem;
    padding: 10px;
    background-color: #F6EFE7;
    border-style: solid;
    border-radius: 10px;
    border-color: #E09789;
}

.links-heading {
    font-size: 1.8rem;
    padding: 20px;
    color: #3C5556;
}

.button {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    height: auto;
    width: 100%;
    background-color: #F6EFE7;
    font-size: 1.3rem;
    color: #3C5556 !important;
    text-align: start;
}