*/ Brand colors for consistency */
:root {
    --color-one: #F5D4C3;
    --color-two: #E09789;
    --color-three: #E9F1EF;
    --color-four: #C8DBD7;
    --color-five: #F6EFE7;
    --color-six: #3C5556;
}

* {
    padding: 10px;
    border-radius: 10px;
    height: auto;
    width: auto;
    justify-content: center;
}

.contact-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    padding: 10px;
}

.links-heading {
    font-size: 1.8rem;
    padding: 30px;
    color: #3C5556;
    grid-row: 1/2;
}

.contact-links-container {
    padding: 10px;
    font-size: 1.2rem;
    grid-column: 1/2;
    grid-row: 2/3;
}

.contact-form-heading {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #E09789;
    font-size: 1.8rem;
    padding: 20px;
}

.contact-form {
    grid-column: 2/3;
    grid-row: 2/3;
}

.button {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    border-color: #E09789;
    height: auto;
    width: 100%;
    background-color: #F6EFE7;
    font-size: 1.3rem;
    color: #3C5556 !important;
    text-align: start;
}