*/ Brand colors for consistency */
:root {
    --color-one: #F5D4C3;
    --color-two: #E09789;
    --color-three: #E9F1EF;
    --color-four: #C8DBD7;
    --color-five: #F6EFE7;
    --color-six: #3C5556;
}

.contact-grid {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    text-align: center;
    padding: 30px 20px 60px 20px;
}

.contact-heading-section {
    grid-column: 1/3;
    grid-row: 1/2;
}

.contact-heading {
    width: 10rem;
    background-color: #3C5556;
    border-bottom: solid 10px #F5D4C3;
    color: #F6EFE7;
    font-size: 2rem;
}

.contact-form-container {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 20px;
}

.button {
    height: auto;
    width: 100%;
    font-size: 1.3rem;
    color: #3C5556 !important;
    text-align: center;
    background-color: #F6EFE7;
    border-style: none;
    padding: 20px;
}

.link {
    text-decoration: none !important;
    color: #C8DBD7;
}

.linkedin-button{
    grid-column: 1/2;
    grid-row: 2/3;
}

.github-button{
    grid-column: 2/3;
    grid-row: 2/3;
}

.cv-button{
    grid-column: 1/2;
    grid-row: 3/4;
}

.email-button{
    grid-column: 2/3;
    grid-row: 3/4;
}