* {
    text-decoration: none !important;
}

.project-carousel {
    padding: 5vmin 40vmin 5vmin 40vmin;
}

.project-card-grid {
    display: grid;
    grid-template-columns: 50vmin 50vmin;
    grid-template-rows: 10vmin 30vmin 30vmin;
}

.project-title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    border-bottom: solid;
    background-color: #C8DBD7;
    border-color: #E09789;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators {
    background-color: none;
}

.project-media-container {
    grid-column: 1/3;
    grid-row: 2/3;
}

.project-media {
    max-width: 100%;
}

.project-detail {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5vmin;
    font-size: 1.3rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #E09789;
}

.carousel-control-prev-icon {
    position: relative;
    left: 15vmin;
}

.carousel-control-next-icon {
    position: relative;
    right: 15vmin;
}