.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: var(--colorTwo);
}

.carousel-indicators {
    background-color: transparent;
    bottom: 2vh;
    position: relative;
}

.project-card-grid {
    grid-row: 2/3;
    grid-template-rows: 20vh 40vh 40vh;
    padding: 0vh 15vw;
}

.project-carousel {
    padding: 5vh 15vw;
}

.project-detail {
    font-size: 1.3rem;
    grid-row: 4/5;
    padding: 2vh 0vw;
    text-align: justify;
}

.project-media-container {
    grid-row: 3/4;
}

.project-media {
    border-color: var(--colorTwo);
    border-style: solid;
    max-height: 100%;
    max-width: 100%;
}

.project-title {
    background-color: var(--colorFour);
    border-bottom: solid;
    border-color: var(--colorTwo);
    font-size: 1.5rem;
    grid-row: 2/3;
    text-align: center;
}