.header-bar {
    align-content: center;
    background-color: var(--colorSix);
    display: grid;
    font-size: 2rem;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}

.name {
    background-color: var(--colorSix);
    color: var(--colorOne);
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
}

.role {
    background-color: var(--colorSix);
    color: var(--colorThree);
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
}

.navbar {
    background-color: var(--colorSix);
    grid-column: 2/3;
    grid-row: 1/3;
}