.header-bar {
    align-content: center;
    background-color: var(--colorSix);
    display: grid;
    font-size: 2rem;
    grid-template-columns: 60vw 40vw;
    justify-content: space-around;
    text-align: center;
}

.name {
    background-color: var(--colorSix);
    color: var(--colorOne);
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 2vw;
    text-align: left;
}

.navbar {
    background-color: var(--colorSix);
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 0 2vw;
}

.role {
    background-color: var(--colorSix);
    color: var(--colorThree);
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 2vw;
    text-align: left;
}

/* Settings for smaller screen sizes */

@media (max-width: 1130px) {
    .header-bar {
        font-size: 1.2rem;
    }

    .name, .navbar, .role {
        grid-column: 1/3;
        text-align: center;
    }
    .name {
        grid-row: 1/2;
    }
    .navbar {
        grid-row: 3/4;
    }
    .role {
        grid-row: 2/3;
    }
}
