.nav-item {
    background-color: var(--colorSix);
}

.nav-link {
    border-color: #C8DBD7;
    color: var(--colorFour) !important;
}

.nav-link.active {
    background-color: var(--colorSix) !important;
    color: var(--colorTwo) !important;
}

.nav-tabs {
    background-color: var(--colorSix);
    justify-content: space-between;
    width: 100%;
}