.nav-item {
    background-color: #3C5556;
}

.nav-link {
    border-color: #C8DBD7;
    color: #C8DBD7 !important;
}

.nav-link.active {
    background-color: #3C5556 !important;
    color: #E09789 !important;
}

.nav-tabs {
    background-color: #3C5556;
    justify-content: space-between;
    width: 100%;
}